graft doc

include *.md
include .coveragerc
include LICENSE
include requirements.txt
include tox.ini

recursive-include bin *
recursive-include src *.py
recursive-include tests *.py
include tests/parser/good_emerge.log
include tests/test_log_files/*

global-exclude *.py[cod] __pycache__ *.so *.dylib
