graft doc

include LICENSE
include README.md
include TODO.md
include setup.py
include .coveragerc
include tox.ini

recursive-include bin *
recursive-include pym *.py
recursive-include tests *.py
include tests/genloppy/parser/good_emerge.log

global-exclude *.py[cod] __pycache__ *.so *.dylib
exclude doc/genloppy_concept.pdf
