# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
# and more specifically for tox: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#running-tests-with-tox

name: Python package

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ "3.13", "3.14" ]

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Run tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
